
package ${packageName}.${modularName}.${busName}.param;

import com.cn.henry.core.pojo.base.param.BaseParam;
import lombok.Data;
import java.util.*;
#foreach ($column in $tableField)
    #if (${column.javaType} == 'BigDecimal')
    import java.math.BigDecimal;
    #end
#end

/**
* ${functionName}参数类
 *
 * @author ${authorName}
 * @date ${createDateString}
*/
@Data
public class ${ClassName}Param extends BaseParam {
#foreach ($column in $tableField)

    /**
     * ${column.columnComment}
     */
    private ${column.javaType} ${column.columnName};

#end
}
